.table {
    width: 50%;
    font-family: Helvetica;
    font-size: 1em;
}

.table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.table tr:first-child {
    background-color: darkgray;
}

.table tr:last-child th {
    background-color: rgb(253, 253, 124);
}